server:
  port: 8080
spring:
  application:
    name: api-gateway
  threads:
    virtual:
      enabled: true
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/orders/**
              filters:
                - StripPrefix=1

            - id: inventory-service
              uri: lb://inventory-service
              predicates:
                - Path=/inventorys/**
              filters:
                - StripPrefix=1

            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/users/**
              filters:
                - StripPrefix=1
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        service-name: api-gateway

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
logging:
  level:
    root: ERROR
    org.springframework: ERROR
    org.hibernate: ERROR
    org.springframework.web: ERROR
    org.springframework.cloud: ERROR
